@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
    --neutral-0: #ffffff;
    --neutral-100: #F8F9FA;
    --neutral-300: #DEE2E6;
    --neutral-500: #ADB5BD;
    --neutral-600: #6C757D;
    --neutral-900: #212529;
    --primary-200: #E8FEC5;
    --primary-300: #C0FA73;
    --primary-400: #57A203;
    --primary-500: #477A11;
    --danger-300: #D74F4F;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 通用格式 */

body {
    font-size: 16px;
    font-weight: 500;
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
    vertical-align: middle;
    height: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
}

h2 {
    font-size: 32px;
    line-height: 1.2;
}

h3 {
    font-size: 28px;
    line-height: 1.2;
}

h4 {
    font-size: 24px;
    line-height: 1.2;
}

h5 {
    font-size: 20px;
    line-height: 1.2;
}

h6 {
    font-size:16px;
    line-height: 1.2;
}

.text-sm {
    font-size: 14px;
}
.text-neutral-500 {
    color: var(--neutral-500);
}
.text-neutral-600 {
    color: var(--neutral-600);
}
.text-neutral-900 {
    color: var(--neutral-900);
}
.text-primary-400 {
    color: var(--primary-400);
}
.text-danger-300 {
    color: var(--danger-300);
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.bg-white {
    background-color: var(--neutral-0);
}

.bg-img {
    background-color: #F0F3F7;
}

.row {
    width: 100%;
    margin-left: -12px;
    margin-right: -12px;
}

[class*="col-"] {
    padding-left: 12px;
    padding-right: 12px;
}

.col-1 {
    width: calc( 100% / 12 );
}

.col-2 {
    width: calc( 100% / 12 * 2);
}

.col-3 {
    width: calc( 100% / 12 * 3);
}

.col-4 {
    width: calc( 100% / 12 * 4);
}

.col-5 {
    width: calc( 100% / 12 * 5);
}

.col-6 {
    width: calc( 100% / 12 * 6);
}

.col-7 {
    width: calc( 100% / 12 * 7);
}

.col-8 {
    width: calc( 100% / 12 * 8);
}

.col-9 {
    width: calc( 100% / 12 * 9);
}

.col-10 {
    width: calc( 100% / 12 * 10);
}

.col-11 {
    width: calc( 100% / 12 * 11);
}

.col-12 {
    width: 100%;
}

.ml-8 {
    margin-left: 8px;
}
.ml-24 {
    margin-left: 24px;
} 
.ml-40 {
    margin-left: 40px;
}
.ml-48 {
    margin-left: 48px;
} 
.ml-auto {
    margin-left: auto;
}
.m-4 {
    margin: 4px;
}
.mb-4 {
    margin-bottom: 4px;
}
.mb-8 {
    margin-bottom: 8px;
}
.mb-12 {
    margin-bottom: 12px;
}
.mb-16 {
    margin-bottom: 16px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-46 {
    margin-bottom: 48px;
}
.mb-48 {
    margin-bottom: 46px;
}
.mb-64 {
    margin-bottom: 64px;
}
.p-16 {
    padding: 16px;
}
.pt-32 {
    padding-top: 32px;
}
.pb-24 {
    padding-bottom: 24px;
}
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-7 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-9-5 {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}
.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}
.gap-2 {
    gap: 2px;
}
.gap-4 {
    gap: 4px;
}
.gap-8 {
    gap: 8px;
}
.gap-12 {
    gap: 12px;
}
.gap-24 {
    gap: 24px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Index | Products Page */

.container {
    max-width: 1296px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* 導覽列 */
.header h1, .footer h1 {
    float: left;
}

.header h1 a, .footer h1 a {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg");
    width: 129px;
    height: 46px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 17px 0;
}

.nav-list .logo {
    width: 105px;
    height: 30px;
    padding: 8px 12px;
}

.nav-list li a {
    color: var(--neutral-900);
    padding: 12px 0;
    text-decoration: none;
}

.nav-list li a:hover {
    color: var(--primary-500);
    padding: 3px 0;
    border-bottom: 1px solid var(--primary-500);
}


.nav-list .bi {
    font-size: 18px;
    color: var(--neutral-900);
}

.nav-list .bi:hover {
    color: var(--neutral-500);
}

/* 麵包屑 Nav */

.breadcrumb {
    display: flex;
}

.breadcrumb-item a {
    color: var(--neutral-600);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--primary-500);
}

.breadcrumb-link::before {
    content: '/';
    padding: 0 12px;
}

.active {
    color: var(--neutral-900);
}

.active::before {
    content: '/';
    padding: 0 12px;
}

/* 商品分類 */

.category-item a {
    color: var(--neutral-900);
    text-decoration: none;
}

.category-item a:hover {
    color: var(--neutral-600);
}

.category-item .all {
    color: var(--primary-400);
}

.category-item .all:hover {
    color: var(--primary-500);
    border-bottom: 1px solid var(--primary-500);
}


/* 產品列表 */
.product-item a:hover {
    background-color: var(--neutral-900);
    opacity: 0.7;
}

.product-title, .product-price {
    color: var(--neutral-900);
}

.btn {
    width: 40px;
    height: 40px;
    background-color: var(--neutral-0);
    border: none;
}

.btn-active, .btn:hover {
    background-color: var(--primary-300);
}

.btn-light {
    background-color: var(--primary-200);
    border: none;
}

.btn-light:hover {
    background-color: var(--neutral-0);
    border: 1px solid var(--primary-500);
    border-radius: 4px;
    color: var(--primary-500);
    
}

.btn-dark {
    background-color: var(--neutral-900);
    border-radius: 4px;
    color: var(--neutral-0);
    padding: 12px 24px;
}

.btn-dark:hover {
    font-weight: 900;
    background-color: var(--neutral-0);
    border-radius: 4px;
    color: var(--neutral-900);
    padding: 12px 24px;
}


/* 底部動作區、Footer */
.section-called {
    background-color: var(--primary-200);
    padding: 24px 0;
}

.footer {
    background-color: var(--neutral-100);
}

.copyright {
    text-align: center;
    padding-top: 32px;
    border-top: 1px slid var(--neutral-300);
}

.copyright p {
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral-600);
    line-height: 1.5;
}

/* Product Page */
.img-item {
    width: 50%;
    padding: 0 4px 8px 4px;
}

.img-item a {
    cursor: pointer;
}

.img-item a:hover {
    opacity: 0.7;
}

.select-item img {
    width: 64px;
    height: 64px;
}

.select-item:hover {
    opacity: 0.7;
}

.size-item {
    width: calc(33% - 10px);
    background-color: var(--neutral-0);
    padding: 12px 0;
    border: 1px solid var(--neutral-300);
    border-radius: 4px;
}

.size-active,
.size-item:hover {
    border: 1px solid var(--neutral-900);
    cursor: pointer;
}

.action-btn {
    width: 50%;
    padding: 12px 0;
    border-radius: 4px;
    border: 1px solid var(--neutral-900);
    cursor: pointer;
}

.action-btn i {
    padding-right: 8px;
}

.section-action .light {
    background-color: var(--neutral-0);
}

.section-action .light:hover {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}

.section-action .dark {
    color: var(--neutral-0);
    background-color: var(--neutral-900);
}

.section-action .dark:hover {
    opacity: 0.7;
}

.info-block {
    border-bottom: 1px solid var(--neutral-300);
    padding: 12px 0;
}

.material-item {
    color: var(--neutral-600);
}

.like-section {
    width: 100%;
    padding: 48px 0;
}

.like-item a:hover {
    opacity: 0.7;
}